#slogan{
	color: white;
	font-size: 20px;
	font-family: 'Open Sans', 'verdana';
	font-style: italic;
	font-weight: 500;
}

#home-heading{
	text-transform: none;
}

#name{
	color: tomato;
}

.scroll-logo{
	content: url("../designevo/header-logo-grey.png");
}

.text-faded {
  /*color: rgba(255, 255, 255, 0.7);*/
  color: white;
  font-family: 'Open Sans', 'verdana';
  font-size: 18px; 	
}

.text-faded-black {
  /*color: rgba(255, 255, 255, 0.7);*/
  color: rgba(34, 34, 34, 0.85);
  font-style: italic;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans', 'verdana';
  font-size: 25px;
  text-align: justify; 	
}
.work {
	width: 50%;
	margin: 0 25% 0;
	text-align: center;
}

.work h2 {
	color: rgba(34, 34, 34, 0.85);
	font-family: 'Open Sans', 'verdana';
	font-size: 40px;
	font-weight: 700;	
}

.work p {
	color: rgba(34, 34, 34, 0.85);
	font-family: 'Open Sans', 'verdana';
	font-size: 20px;	
}

.work:hover h2 .change-color {
	color: tomato;
	-moz-transition:color .5s ease-out;
    -o-transition:color .5s ease-out;
    -webkit-transition:color .5s ease-out;
}

.center-social {
	text-align: center;
}

.social-networks {
	overflow: auto;
	margin-left: -20px;
}

.social-networks li {
	list-style: none;
	display: inline;
}

.social-networks li a i {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 45px;
	text-align: center;
	margin-top: 15px;
	margin-right: 5%;
}

@media (max-width: 991px) {
	#navbar-logo{
		content: url("../designevo/header-logo-grey.png");
	}
	.pic-container {
		overflow: hidden;
		width: 40%;
		margin: 10px 30% 10px;
	}
	.profile-pic {
		border-radius: 50%;
		width: 100%;
		margin: 0px 0px 0px;
	}
}

@media (min-width: 992px) {

	.pic-container {
		display: inline-block;
		overflow: hidden;
		border-radius: 50%;
		width: 200px;
		margin: 10px 20px 10px;
		float: left;
	}

	.profile-pic {
		border-radius: 50%;
		width: 200px;
		margin: 0px 0px 0px;
	}

	.pic-container:hover img {

		-moz-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

#about-title {
	font-family: 'Open Sans', 'verdana';
	font-size: 50px;
	text-align: center;
	font-weight: 700;
	color: white;	
}

#services-title {
	color: rgba(34, 34, 34, 0.85);
	font-family: 'Open Sans', 'verdana';
	font-size: 50px;
	text-align: center;
	font-weight: 700;
}

#contact-title {
	color: rgba(34, 34, 34, 0.85);
	font-family: 'Open Sans', 'verdana';
	font-size: 50px;
	text-align: center;
	font-weight: 700;
}

.text-muted {
	font-family: 'Open Sans', 'verdana';
}

.service-box h3 {
	font-family: 'Open Sans', 'verdana';
	font-weight: bold;
	color: rgba(34, 34, 34, 0.85);
}
.service-box:hover h3 {

	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.facebook-icon:hover {
	color: #2660bf;
}
.linkedin-icon:hover {
	color: #3276e5;
}
.twitter-icon:hover {
	color: #5494ff;
}
.google-plus-icon:hover {
	color: #d82d2d;
}
.github-icon:hover {
	color: #352f2f;
}